
body {
	background-color: #fbded5;
}

#Princ {
  text-align: center;
  color: #670912;}
  
p.carta{ 
	text-align: left;
	color:#894135;
}

p.cafe{
	text-align: center;
	color: #894135;
}

p.contacto{
	text-align: right;
	color: #894135;
}
